<div class="container">
  <h1>Angular Custom Pipes</h1>

  <!-- SEARCH -->

  <div class="card">
    <h2>Filter Pipe</h2>
    <input type="text" placeholder="Search User" [(ngModel)]="search" />
    @for (user of users | filter: search; track user.id) {
      <div class="user-card">
        {{ user.name }}
      </div>
    }
  </div>

  <!-- INITIALS -->

  <div class="card">
    <h2>Initials Pipe</h2>
    <p>
      {{ 'Ashish Roy' | initials }}
    </p>
  </div>

  <!-- MASK EMAIL -->

  <div class="card">
    <h2>Mask Email Pipe</h2>
    <p>
      {{ 'ashishroy@gmail.com' | maskEmail }}
    </p>
  </div>

  <!-- MEMOIZATION -->

  <div class="card">
    <h2>Memoization Pipe</h2>
    <p>
      {{ 5 | memoization }}
    </p>
  </div>

  <!-- PAGINATION -->

  <div class="card">
    <h2>Pagination Pipe</h2>
    @for (user of users | pagination: currentPage : itemsPerPage; track user.id) {
      <div class="user-card">
        {{ user.name }}
      </div>
    }
  </div>

  <!-- PHONE MASK -->

  <div class="card">
    <h2>Phone Mask Pipe</h2>
    <p>
      {{ '9876543210' | phonemask }}
    </p>
  </div>

  <!-- SAFE HTML -->

  <div class="card">
    <h2>Safe HTML Pipe</h2>
    <div [innerHTML]="htmlContent | safehtml"></div>
  </div>

  <!-- SHORT NAME -->

  <div class="card">
    <h2>Short Name Pipe</h2>
    <p>
      {{ 'AngularDeveloper' | shortname: 7 }}
    </p>
  </div>

  <!-- TIME AGO -->

  <div class="card">
    <h2>Time Ago Pipe</h2>
    <p>
      {{ createdAt | timeAgo }}
    </p>
  </div>
</div>
