<div class="page">
  <div class="header">
    <div>
      <h1>Poerty Management</h1>
    </div>

    <div class="card-title">
      <h2>
        {{ isEditMode() ? 'Update Post' : 'Add Post' }}
      </h2>
    </div>
  </div>
</div>

<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div class="form-grid">
    <div class="form-group">
      <label>Title</label>
      <input type="text" formControlName="title" placeholder="Enter Title" />
    </div>

    <div class="form-group">
      <label>Author</label>
      <input type="email" formControlName="author" placeholder="Enter Author" />
    </div>

    <div class="form-group">
      <label> Description </label>
      <textarea
        type="text"
        formControlName="description"
        placeholder="Enter Description"
      ></textarea>
    </div>
  </div>

  <div class="button-group">
    <button class="primary-btn" type="submit">
      {{ isEditMode() ? 'Update Post' : 'Add Post' }}
    </button>
    <button type="button" class="secondary-btn" (click)="resetForm()">Reset</button>
  </div>
</form>

<div class="table card">
  <div class="post-list">
    <h2>Posts List</h2>
  </div>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        @for (post of posts(); track post.id) {
          <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.author }}</td>
            <td>{{ post.description }}</td>
            <td>
              <div class="action-buttons">
                <button class="edit-btn" (click)="editPost(post)">Edit</button>
                <button class="delete-btn" (click)="deletePost(post.id)">Delete</button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
