<h2 appHighlight>Directive Called</h2>

<div class="container">
  <div class="card">
    <h1>Disable Button Directive</h1>
    <p>Button becomes disabled after first click.</p>
    <button appDisablebutton (click)="submitForm()">Submit Form</button>
  </div>
</div>

<div class="container">
  <div class="card">
    <h1>Auto Focus Directive</h1>
    <p>Input automatically focused when component loads.</p>
    <input type="text" placeholder="Enter Username" [(ngModel)]="username" appAutoFocus />
    <button (click)="login()">Login</button>
  </div>
</div>

<div class="container">
  <div class="card">
    <h1>Only Number Directive</h1>
    <p>Only numeric values allowed.</p>
    <input type="text" placeholder="Enter Mobile Number" [(ngModel)]="mobileNumber" appOnlyNumber />
    <button (click)="mobile()">Submit</button>
    <div class="preview">
      <strong> Value: </strong>
      {{ mobileNumber }}
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <h1>Debounce Click Directive</h1>
    <p>Prevent multiple rapid clicks.</p>
    <button appDebounceclick (debounceClick)="handleClick()">Save Data</button>
    <div class="result">
      <strong> API Call Count: </strong>
      {{ count }}
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <h1>Skeleton Loader Directive</h1>
    <p>Enterprise loading placeholder UI.</p>

    <!-- SKELETON -->

    @if (loading) {
      <div class="skeleton-wrapper">
        <div appSkeleton class="skeleton-box"></div>
        <div appSkeleton class="skeleton-box"></div>
        <div appSkeleton class="skeleton-box"></div>
      </div>
    }

    <!-- REAL CONTENT -->

    @else {
      <div class="user-list">
        @for (user of users; track user.email) {
          <div class="user-card">
            <h3>
              {{ user.name }}
            </h3>

            <p>
              {{ user.email }}
            </p>
          </div>
        }
      </div>
    }
  </div>
</div>

<div class="container">
  <h1>Tooltip Directive</h1>
  <button class="btn" [appTooltip]="'Save Data'">Hover Me</button>
</div>

<div class="container">
  <h1>Role Based Directive</h1>
  <div *appRole="'admin'" class="card admin">Admin Panel Visible</div>
  <div *appRole="'user'" class="card user">User Panel Visible</div>
</div>

<div class="container" appInfiniteScroll (scrolled)="onScrollDown()">
  <h1>Infinite Scroll Directive</h1>

  <div class="grid">
    @for (item of items; track item) {
      <div class="card">
        {{ item }}
      </div>
    }
  </div>
</div>
